
<div class=" col-sm-4">
    <div *ngFor='let board of boardsList?.boards'  >
        <ngb-accordion  >
         <ngb-panel title="{{board.title}}">
           <ng-template ngbPanelContent >
             {{board.description}}
           <hr>
             <button [routerLink]="['/boards', board.id]" class=" btn-primary pull-right m-l-xl ">Proceed to board details</button>
           </ng-template>
         </ngb-panel>
        </ngb-accordion>
        
       </div>
       <button  class=" btn-primary pull-right m-l-xl  col-sm-12" (click)="open()">Add new board</button>
</div>


