

    
  <h1 style="text-align: center;">
    {{board.title}}
  </h1>

<div class="col-sm-6" style="padding: 2px">
    <button  class="btn btn-primary"   (click)="openCardModal()">Add new card</button>
</div>
  
<div class="row">
  
  <div  *ngFor='let status of statusesList?.statuses' class=" col-sm-3"   >
    <div droppable="true" (onDrop)="moveCard($event, status.id)" style="  background-color:cadetblue;  text-align: center;" >
      {{status.name}}
    </div>
      
      <div  *ngFor="let card of cardsList?.cards"  draggable="true" [dragData]="card" (onDragStart)="test($event)">
        <div *ngIf="card.statusId == status.id">
            <app-card-kanban  [card]="card" style="padding: 1px; text-align: center;"></app-card-kanban>
        </div>
      </div>
      
    
    
  </div>

</div>



